<div class="title-home">
    <p> Circuito MasterVip Francisco Rosa 2024</p>
    <p> 3° Etapa Dia 1</p>
</div>
<div class="live-main">
    <iframe class="car" src="https://www.youtube.com/embed/0DsLVUwG0SA?si=9v4R-vLbCfeisuhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        
    <!-- <c-carousel [dark]="true" [wrap]="false">
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides; index as i;">
            <img
              [src]="slide.src"
              alt="{{slide.title}}"
              class="d-block w-100"
              loading="lazy"
            />
            <c-carousel-caption class="d-none d-md-block">
              <h3>{{slide.title}}</h3>
              <p>{{slide.subtitle}}</p>
            </c-carousel-caption>
          </c-carousel-item> -->
          <!-- <c-carousel-item *ngFor="let slide of slides; index as i;">
            <c-carousel-caption class="d-none d-md-block">
              <h3>{{slide.title}}</h3>
              <p>{{slide.subtitle}}</p>
            </c-carousel-caption>
          </c-carousel-item> -->
        <!-- </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel> -->
</div>
<div class="live-boxes">
    <div class="highlight-box">Inscrições Abertas</div>
    <div class="highlight-box">Ranking</div>
    <div class="highlight-box">Cronograma</div>
    <div class="highlight-box">Etapas</div>
</div>