/*.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* 100% da altura da janela de visualização, ajuste conforme necessário 
}*/

.home {
    flex: 1; /* Ocupa o espaço restante verticalmente */
    overflow: auto; /* Adiciona rolagem se o conteúdo for maior do que a altura da viewport */
}